@charset "UTF-8";


@media (max-width: 500px) {
    body {
        font-size: 17px;
        line-height: 22px;
    }

    section#gato.cgato {
        position: relative;
        height: 616px;

    }

    #gato.cgato>p {
        position: absolute;
        top: 300px;
        left: 0;

    }

    #gato.cgato>picture {
        margin: 0 auto 0 auto;
    }

    section#anime.canime {
        position: relative;
        height: 600px;

    }

    #anime.canime>p {
        animation: anime 1s;
        animation-timeline: view();
        animation-range: cover 0% 50%;
        position: absolute;
        top: 300px;
        left: 0;

    }

    #anime.canime>picture {
        margin: 0 auto 0 auto;

    }

    section#bn.cbn {
        position: relative;
        height: 550px;


    }

    #bn.cbn>p {
        position: absolute;
        top: 300px;
        left: 17px;

    }

    #bn.cbn>picture {
        margin: 0 auto 0 auto;
    }
 
    section#castelo {    
    
        position: relative;
        width: auto;
        height: 600px;
        margin: 10px;
        background: white url('../imagens/castelo.png') center top no-repeat;
        background-attachment: fixed;
        background-size: 3000px 1500px;
        border-radius: 50px;
    }

    #castelo.ccastelo>h3 {
        
        position: absolute;
        margin: 0 auto;
        top: 200px;
        left: 0;
    }
    

    @keyframes anime {
        from {
            opacity: 0;
            translate: -30vw 0;

        }

        to {
            opacity: 1;
            translate: 0 0;

        }
    }

    @keyframes bn {
        from {
            opacity: 0;
            translate: 0 20vw;
        }

        to {
            opacity: 1;
            translate: 0 0;
        }
    }


}

@media (min-width: 501px) and (max-width: 1200px) {

    body {
        font-size: 17px;
        line-height: 22px;
    }

    section#gato.cgato {
        position: relative;


    }

    #gato.cgato>p {
        position: absolute;
        top: 60px;
        left: 405px;


    }



    section#anime.canime {
        position: relative;


    }

    #anime.canime>p {
        animation: anime 1s;
        animation-timeline: scroll();
        animation-range: cover 0% 30%;
        position: absolute;
        top: 60px;
        left: 6px;
        right: 400px;

    }


    section#bn.cbn {
        position: relative;
    }

    #bn.cbn>p {
        animation: bn 1s;
        animation-timeline: scroll();
        animation-range: cover 0% 55%;
        position: absolute;
        top: 60px;
        left: 405px;
    }

 
    section#castelo {    
    
        position: relative;
        width: auto;
        height: 500px;
        margin: 10px;
        background: white url('../imagens/castelo.png') center top no-repeat;
        background-attachment: fixed;
        background-size: 3000px 1500px;
        border-radius: 50px;
    }

    #castelo.ccastelo>h3 {
        position: absolute;
        top: 200px;

    }

}

@media (min-width: 1201px) {


    #anime.canime>p {
        animation: anime 1s;
        animation-timeline: scroll();
        animation-range: cover 0% 30%;

    }
    

    section#castelo {    
    
        position: relative;
        width: auto;
        height: 400px;
        margin: 10px;
        background: white url('../imagens/castelo.png') center top no-repeat;
        background-attachment: fixed;
        background-size: 3000px 1500px;
        border-radius: 50px;
    }

    #castelo.ccastelo>h3 {
        position: absolute;
        top: 200px;

    }

    @keyframes anime {
        from {
            opacity: 0;
            translate: -30vw 0;

        }

        to {
            opacity: 1;
            translate: 0 0;

        }
    }

    @keyframes bn {
        from {
            opacity: 0;
            translate: 0 20vw;
        }

        to {
            opacity: 1;
            translate: 0 0;
        }
    }

} 